<% include ../partials/header %>

    <h1>Log In Here</h1>

    <form action='/login' method='POST'>
      <label>Username:</label>
      <input type='text' name='username' placeholder='username' autocomplete='off'>
      <label>Password:</label>
      <input type='password' name='password' placeholder='password' autocomplete='off'>
      <div>
        <button>Log In</button>
      </div>
    </form>

<% include ../partials/footer %>
