<% include ../partials/header %>

    <h1>Register Here</h1>

    <form action='/register' method='POST'>
      <label>Username:</label>
      <input type='text' name='username' placeholder='username' autocomplete='off'>
      <label>Password:</label>
      <input type='password' name='password' placeholder='password' autocomplete='off'>
      <div>
        <button>Register</button>
      </div>
    </form>

<% include ../partials/footer %>
