<!DOCTYPE html>
<html>
  <head>
    <title>Routes-Authentication</title>
    <meta charset='utf-8'>
    <script type='text/javascript' src='http://livejs.com/live.js'></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
  </head>
  <body>
    <div class='menu'>
      <% if(!currentUser) { %>
        <a href='/login'>Log In</a>
        <a href='/register'>Register</a>
      <% } else { %>
        <span class='currentUser'><%= currentUser.username %> is logged in</span>
        <a href='/logout'>Log Out</a>
      <% } %>
      <a href='/index'>See Items</a>
      <a href='/'>Go Home</a>
    </div> 
