<!DOCTYPE html>
<html>
  <head>
    <title>Routes-Authentication</title>
    <meta charset='utf-8'>
    <link type='text/javascript' src='http:livecome.js/live.js'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
  </head>
  <body>
    <div>
      <div class='menu'>
        <a src='/'>Go Home</a>
        <a src='/index'>See Items</a>
        <a src='/login'>Log In</a>
        <a src='/register'>Register</a>
        <a src='/logout'>Log Out</a>
      </div>
