body {
  background-color: grey;
  text-align: center;
  height: 100vh;
  margin: 0;
}

h1 {
  width: 15%;
  margin: 0 auto 0 auto;
  padding: 20% 0 0 0;
  border-bottom: 1px solid black;
  opacity: .6;
}

input {
  height: 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

textarea {
  margin-top: 10px;
  width: 275px;
  height: 55px;
}

form {
  margin-top: 50px;
}

label {
  margin: 0 7px 0 7px;
  font-size: 20px;
  font-weight: 550;
  border-bottom: 1px solid black;
  height: 100px;
  line-height: 50px;
}

button {
  height: 80px;
  width: 180px;
  border-radius: 15px;
  outline: none;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

a {
  color: white;
  margin: 0 50px 0 50px;
}

ol {
    margin: 1% 30% 3% 30%;
}

li {
    margin: 2em 0 2em 0;
}

.menu {
  padding-top: 35px;
  background-color: black;
  color: white;
  height: 50px;
}

.moreInfo {
    margin: 10px 0 0 0;
    height: 40px;
}

.textareaGroup * {
  vertical-align: middle;
}

#show-h1 {
 padding-top: 2%; 
}

#index-h1 {
  padding-top: 1%;
}

.anchors {
  display: block;
  background-color: blue;
  font-size: 150%;
  height: 60px;
  width: 180px;
  margin: 10px auto 0 auto;
  line-height: 60px;
  border-radius: 15px;
}

.go-back {
 color: white; 
}
