<% include ../partials/header %>

    <h1 class='header-h1'>The Good Stuff</h1>
    
    <ol>
      <% material.forEach(thing => { %>
        <li>
            <label>Item:</label><%= thing.item %><br>
            <label>Description:</label><%- thing.description %></br>
            
            <form class='moreInfo' action='/index/<%= thing._id %>' method='GET'>
              <button class='moreInfo'>More Info</button>
            </form>
        </li>
      <% }) %>
      
      <a class='anchors' href='/index/new'>Add New Item</a>
    </ol>

<% include ../partials/footer %>
